.textInput {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.textInput__container{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}